@use '../core/' as *;

.main-form {
  display: grid;
  place-items: center;
}

.courses-main {
  width: min(90%, 700px);
}

.courses-main form {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
  label {
    margin-bottom: 0.5ch;
  }
  input {
    width: 100%;
    padding:  0 5px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
  }
  select {
    width: fit-content;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
  }
  div {
    display: flex;
    flex-direction: column;
  }
}

.courses-main .form-buttons {
  flex-direction: row;
  gap: 1rem;
  .submit-button, .reset-button {
    width: max-content;
    padding: 0.5rem 1rem;
    border: none;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 4px;
    color: $text-primary-inverse;
    background-color: rgb(240, 240, 240);
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
    &:active {
      transform: scale(1);
    }
  }
}

.warning-list {
  list-style-type: disc;
  color: red;
}

.green {
  color: rgb(63, 233, 63);
}

:root[data-theme="light"] {
  .courses-main form {
    input, select {
      border-color: $text-primary;
    }
  }
  .submit-button, .reset-button {
    color: $text-primary;
    border-color: $text-primary;
  }
}