@use '../core/' as *;

footer {
  padding: 1rem $standard-padding;
  color: $text-primary;
  background-color: $color-secondary;
  .icon {
    width: 1.5em;
    stroke: $text-primary;
  }
}

.footer-content {
  ul {
    display: grid;
    place-items: center;
    gap: 2rem;
  }
}

@media (min-width: 800px) {
  .footer-content {
    ul {
      grid-template-columns: repeat(4, 1fr);
    }
  }  
}